.nwwest-roll {
    height: 200px;
    overflow: hidden
}

.roll-ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.nwwest-roll li {
    height: 200px;
    line-height: 35px
}

.anim {
    -webkit-transition: all 1s;
    transition: all 1s
}
